.account {

}
.account__users {
  height: 220px;
  width: 260px;
  float: left;
}
.account__links,
.account__news {
  margin-left: 280px;
}
.account__links {
  height: 220px;
}

@media screen and ( max-width: 900px ) {
  .account__info,
  .account__users,
  .account__links,
  .account__news {
    height: auto;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .account__block {
    display: inline-block;
  }
}
@media screen and ( min-width: 901px ) {
  .account__links,
  .account__news {
    margin-top: 20px;
  }
}
