.account {

}
.account__users {
  height: 220px;
  width: 260px;
  float: left;
}
.account__links,
.account__news {
  margin-left: 290px;
  margin-top: 20px;
}
.account__links {
  height: 220px;
}

@media screen and ( max-width: 900px ) {
  .account__users,
  .account__links,
  .account__news {
    height: auto;
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
