.robot__cont {
  display: flex;
}
.robot__files {
  flex: 7;
}
.robot__updates {
  flex: 3;
  margin-left: 20px;
  max-height: 300px;
  overflow-y: auto;
}

@media screen and (max-width: 900px) {
  .robot__cont {
    display: block;
  }
  .robot__updates {
    margin-left: 0;
  }
}
