.settings {
  padding: 0;
}
.settings__cont {
  padding: 10px;
}
.settings__form {

}
.settings__confirm {
  width: 400px;
  height: 220px;
}
.confirm-password-cover {
  display: none;
}

@media screen and ( max-width: 900px ) {
  .settings__confirm {
    width: 300px;
  }
}
