.fill-data {
  max-width: 900px;
}

.fill-data__photo {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.fill-data__photo input {
  display: none;
}


@media screen and ( min-width: 701px ) {
  .fill-data > .form__title {
    text-align: left;
    padding-left: 20px;
  }
  .fill-data__flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fill-data__photo,
  .fill-data a.button {
    width: 250px;
  }
  .fill-data__fields {
    width: calc(100% - 280px);
  }
  .fill-data__photo img {
    width: 100%;
  }

  .fill-data__cont {
    display: flex;
    justify-content: space-between;
  }
  .fill-data__cont > .input {
    width: calc(50% - 15px);
  }
}

@media screen and ( max-width: 700px ) {
  .fill-data__photo img {
    max-height: 200px;
  }
  .fill-data__photo,
  .fill-data__fields,
  .fill-data a.button,
  .fill-data__cont {
    width: 100%;
  }
}
