.sign-up__cont {
  position: relative;
  text-align: center;
}
.sign-up__refer {
  width: 100%;
  margin-top: 0;
}
.sign-up__refer img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  .sign-up__refer {
    width: 200px;
    position: absolute;
    left: -220px;
    top: 0;
  }
}
