.account__info {
  height: 350px;
}
.account__info__photo {
  position: absolute;
  width: 230px;
  text-align: center;
}
.account__info__photo img {
  max-height: 320px;
  max-width: 230px;
}
.account__info__cont {
  padding-left: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.account__info__cont1,
.account__info__cont2 {
  border-bottom: solid 1px var(--color5);
}

.account__info__cont1 {
  padding-bottom: 20px;
}
.account__info__cont1 > h2 {
  display: inline;
}
.account__info__bunus-level {
  float: right;
  color: var(--color4);
}

.account__info__cont2 {

}
.account__info__cont2 td {
  padding: 6px;
}

.account__info__cont3 {
  padding-top: 20px;
  color: var(--color4);
  display: flex;
}
.account__info__cont3__item {
  margin: 8px;
  text-align: center;
  cursor: pointer;
  flex: 1;
}
.account__info__cont3__item *:first-child {
  margin-bottom: 6px;
}

@media screen and ( max-width: 900px ) {
  .account__info {
    height: auto;
  }
  .account__info__photo {
    position: static;
    text-align: center;
  }
  .account__info__cont {
    padding-left: 0;
  }
  .account__info__cont3 {
    flex-wrap: wrap;
  }
  .account__info__cont3__item {
    width: 33%;
    flex: unset;
    margin: 8px 0;
  }
}
