.account__info {
  height: 350px;
  position: relative;
}
.account__info__photo {
  position: absolute;
  width: 230px;
  height: calc(100% - 20px);
  overflow: hidden;
  display: flex;
}
.account__info__photo img {
  /*min-height: 160px;
  max-height: 320px;
  min-width: 115px;
  max-width: 230px;*/
  height: 100%;
  margin: auto;
}
.account__info__edit {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, #000, rgba(255, 255, 255, 0));
}
.account__info__edit > .link {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 25px 5px 0 5px;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 3px;
  text-align: center;
  font-family: calibri-bold;
  font-size: 18px;
  cursor: pointer;
}
.account__info__cont {
  padding-left: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.account__info__cont1,
.account__info__cont2 {
  border-bottom: solid 1px var(--color5);
}

.account__info__cont1 {
  padding-bottom: 15px;
}
.account__info__cont1 > h2 {
  display: inline;
  font-family: calibri-bold;
}
.account__info__rate > span {
  color: var(--color2);
  font-family: calibri-bold;
}
.account__info__status {
  margin-top: 5px;
  font-size: 14px;
}
.account__info__account-info {
  float: right;
}

.account__info__cont2 {
  height: 180px;
  display: flex;
  justify-content: space-between;
}
.account__info__cont2 td {
  padding: 6px;
}
.account__info__cont2__rate {
  height: 100%;
}

.account__info__cont3 {
  padding-top: 10px;
  color: var(--color4);
  display: flex;
}
.account__info__cont3__item {
  margin: 8px;
  text-align: center;
  cursor: pointer;
  flex: 1;
}
.account__info__cont3__item *:first-child {
  margin-bottom: 6px;
  height: 20px;
  color: var(--color2);
  font-family: calibri-bold;
  font-size: 22px;
}

@media screen and ( max-width: 1000px ) {
  .account__info {
    height: auto;
  }
  .account__info__photo {
    position: relative;
    text-align: center;
    margin: 10px auto;
  }
  .account__info__cont {
    padding-left: 0;
  }
  .account__info__cont2__rate {
    display: none;
  }
  .account__info__cont3 {
    flex-wrap: wrap;
  }
  .account__info__cont3__item {
    width: 33%;
    flex: unset;
    margin: 8px 0;
  }
}
