.account__links__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 160px;
}
.account__links .input,
.account__links__switch {
  width: 48%;
}
.account__links__switch {
  
}
.account__links__cont .input__button {
  background-image: url('../../../img/icon/copy@2x.png');
  display: block;
}
@media screen and ( max-width: 900px ) {
  .account__links__cont {
    height: max-content;
  }
  .account__links__cont *:nth-child(2) {
    margin-bottom: 30px;
  }
  .account__links__switch {
    width: 100%;
  }
  .account__links .input {
    width: 100%;
  }
}
