.account__links__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 160px;
}
.account__links .input,
.account__links .switch {
  width: 48%;
}
.account__links .input input {
  padding-right: 40px;
}
.account__links__copy-button {
  width: 35px;
  background-image: url('../../../img/icon/copy@2x.png');
  background-repeat: no-repeat;
  background-position: 50%;
  border-left: solid 1px var(--color3);
  z-index: 3;
}
@media screen and ( max-width: 900px ) {
  .account__links__cont {
    height: max-content;
  }
  .account__links__cont > *:nth-child(2) {
    margin-bottom: 30px;
  }
  .account__links .switch {
    width: 100%;
  }
  .account__links .input {
    width: 100%;
  }
}
