RewriteEngine on

RewriteRule signin /
RewriteRule signup /
RewriteRule fillData /
RewriteRule passwordResetRequest /
RewriteRule passwordReset /
RewriteRule terms /
RewriteRule account /
RewriteRule signout / [L]
