.robot_purchase__robot {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.robot_purchase__robot img {
  width: 100%;
  max-width: 200px;
}

.button-client,
.button-light,
.button-advanced,
.button-master {
  border: none;
  color: #FFF !important;
  height: 25px;
  line-height: 25px;
}
.button-client {
  background-color: var(--client-color);
}
.button-light {
  background-color: var(--light-color);
}
.button-advanced {
  background-color: var(--advanced-color);
}
.button-master {
  background-color: var(--master-color);
}

@media screen and (max-width: 900px) {
  .robot_purchase__robot {
    width: 50%;
  }
}
