.input {
  position: relative;
  padding-top: 20px;
  margin-bottom: 8px;
}
.input input {
  width: 100%;
  height: 35px;
  padding: 5px 35px 5px 15px;
  outline: none;
  box-shadow: none;
  border: solid 1px var(--color3);
  border-radius: 3px;
  color: var(--color4);
  position: relative;
  z-index: 2;
  background: transparent;
}
.input input:focus + .input__label,
.input input:valid + .input__label,
.input.label-top input + .input__label {
  transform: none;
}
.input input.incorrect {
  border-color: var(--color1);
}

.input__label {
  display: block;
  transition: transform 0.1s;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(16px, 28px);
  color: var(--color4);
}
.input__button {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  border-left: solid 1px var(--color3);
  cursor: pointer;
  z-index: 3;
  display: none;
}
