#page-footer {
  background-color: #FFF;
  padding: 0 35px;
  box-shadow: 0 0 5px 0px #999;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-footer__cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  height: 50px;
  text-align: center;
}
.page-footer__terms {
  text-align: right;
  color: var(--color2) !important;
}
.page-footer__label {

}
.page-footer__socials {
  display: inline-block;
  text-align: left;
}
.page-footer__socials > a {
  margin: 0 5px;
}
.page-footer__socials > a > img {
  width: 30px;
  height: 30px;
}

@media screen and ( max-width: 900px ) {
  #page-footer {
    padding: 0 10px;
  }
  .page-footer__cont {
    flex-direction: column;
    height: 100px;
  }
}
