#page-header {
  box-shadow: 0 0 5px 0px #999;
  background-color: #FFF;
  margin-bottom: 30px;
  padding: 0 10px;
}
.page-header__cont {
  max-width: 1200px;
  margin: auto;
  height: 60px;
}
#page-header__logo {
  float: left;
  height: 100%;
}
.page-header__sign-in-button {
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 15px 0;
  font-family: calibri-bold;
}

@media screen and ( max-width: 900px ) {
  #page-header {
    padding: 0 10px;
  }
}
