#start-view {
  text-align: center;
}
#start-view__logo {
  width: 485px;
  display: block;
  margin: 0 auto 30px auto;
  transition: width 0.2s;
  user-select: none;
}
.start-view__join-button {
  background-color: var(--color1);
  color: #FFF !important;
  width: 270px;
  height: 40px;
  line-height: 36px;
}
@media screen and ( max-width: 700px ) {

  #start-view {
    width: auto;
  }
  #start-view__logo {
    width: 100%;
  }
  #start-view__join-button {
    width: 60%;
    max-width: 270px
  }

}
