#start {
  text-align: center;
  width: 500px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.start__logo {
  width: 100%;
  margin-bottom: 30px;
  user-select: none;
}
.start__join-button {
  background-color: var(--color1);
  color: #FFF !important;
  width: 270px;
  height: 40px;
  line-height: 40px;
  font-family: calibri-bold;
}
@media screen and ( max-width: 900px ) {

  #start {
    width: 320px;
    height: 192px;
  }

}
