.tab-view__header {
  background-color: var(--color6);
}
.tab-view__header__item {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: var(--color4);
}
.tab-view__content > * {
  display: none;
}
.tab-view__content > .active {
  display: block;
  background-color: #FFF;
}
