.finances__balance {
  height: 150px;
}
.finances__balance__label {
  color: var(--color4);
  margin: 10px 0;
}
.finances__balance__value {
  font-weight: 800;
  color: var(--color2);
  margin: 20px 0;
  font-family: calibri-bold;
  font-size: 22px;
  height: 22px;
}
.finances__balance__cont {
  display: flex;
  justify-content: space-between;
}
.finances__balance__button {
  height: 30px;
  line-height: 30px;
  width: 48%;
  overflow: hidden;
  margin: 5px 0;
}

@media screen and (max-width: 900px) {
  .finances__balance__cont {
    display: block;
  }
  .finances__balance {
    height: auto;
  }
  .finances__balance__button {
    width: 100%;
  }
}
