.finances__bonuses {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.finances__bonuses__item {
  display: inline-block;
  width: calc((100% - 40px) / 3);
  height: 65px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.finances__bonuses__item__label {
  font-size: 12px;
  color: var(--color4);
}
.finances__bonuses__item__value {
  font-family: calibri-bold;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .finances__bonuses {
    height: 225px;
  }
  .finances__bonuses__item {
    width: calc(50% - 10px);
  }
}
