.finances__withdraw-money__input input {
  padding-right: 190px;
}
.finances__withdraw-money__button {
  color: var(--color2);
  border: solid 2px var(--color2);
  border-radius: 0 3px 3px 0;
  width: 180px;
  z-index: 2;
  text-align: center;
  font-family: calibri-bold;
}
.finances__withdraw-money__message {
  color: var(--color2);
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .finances__withdraw-money__input input {
    padding-right: 150px;
  }
  .finances__withdraw-money__button {
    width: 140px;
    font-size: 14px;
  }
}
