.admin__controls {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 46px;
  border-radius: 3px;
}
.admin__delete-button,
.admin__edit-button {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  width: 13px;
  height: 13px;
}

.admin__delete-button {
  background-image: url('../../../img/icon/delete@2x.png');
}
.admin__edit-button {
  background-image: url('../../../img/icon/edit@2x.png');
}
