.admin__structure__search {
  width: 35px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  background-image: url('../../../img/icon/search@2x.png');
  z-index: 10;
}
