.blog__item {
  position: relative;
}
.blog__item__title {
  font-family: calibri-bold;
  font-size: 20px;
  margin: 15px 5px;
}
.blog__item__date {
  color: var(--color3);
  margin: 10px 5px;
}
.blog__item__text {
  margin: 10px 5px;
  font-family: montserrat;
}
