.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.main__menu {
  width: 200px;
  float: left;
}
.main__content {
  margin-left: 220px;
}
.main > .hint {
  position: absolute;
  top: 0;
  right: -25px;
}

@media screen and (max-width: 900px){
  .main__menu,
  .main__content {
    width: 100%;
    float: none;
  }
  .main__content {
    margin-left: 0;
    padding-top: 70px !important;
  }
  .main > .hint {
    display: none;
  }
}
