#menu {
  margin-top: 0;
  position: relative;
  transition: height 1s;
}
.menu-mobile-cover {
  display: none;
}
.menu__item {
  display: block;
  height: 50px;
  padding: 15px 5px;
  border-bottom: solid 1px var(--color5);
  outline: none;
}
.menu__item:last-child {
  border: none;
}
.menu__item.active {
  font-weight: 800;
}
.menu__item.inactive {
  background-color: var(--color6);
}
.menu__item.inactive:hover {
  color: unset;
}
.menu__item.active,
.menu__item:hover {
  color: var(--color2);
}
.main__menu__mobile {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  display: none;
  cursor: pointer;
}
#menu.open .main__menu__mobile {
  display: none;
}

.menu__item:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
@media screen and (max-width: 900px){
  #menu {
    position: absolute;
    z-index: 200;
  }
  .menu-mobile-cover {
    display: block;
  }
  .menu__item {
    text-align: right;
  }
  .menu__item:before {
    float: right;
    margin: 0 0 0 10px;
  }
  #menu.close {
    background-color: transparent;
    box-shadow: none;
  }
  #menu.close + .menu-mobile-cover {
    display: none;
  }
  #menu.close .main__menu__mobile {
    display: block;
  }
  #menu.close .menu__item {
    display: none;
    border: none;
  }
  .menu__item.active {
    display: block !important;
  }
}

.account-icon:before {
  background-image: url('../../../img/icon/account@2x.png');
}
.robot-icon:before {
  background-image: url('../../../img/icon/robot@2x.png');
}
.team-icon:before {
  background-image: url('../../../img/icon/team@2x.png');
}
.marketing-icon:before {
  background-image: url('../../../img/icon/marketing@2x.png');
}
.finances-icon:before {
  background-image: url('../../../img/icon/finances@2x.png');
}
.instructions-icon:before {
  background-image: url('../../../img/icon/instructions@2x.png');
}
.blog-icon:before {
  background-image: url('../../../img/icon/blog@2x.png');
}
.settings-icon:before {
  background-image: url('../../../img/icon/settings@2x.png');
}
.admin-icon:before {
  background-image: url('../../../img/icon/admin@2x.png');
}

.account-icon.active:before {
  background-image: url('../../../img/icon/account_active@2x.png');
}
.robot-icon.active:before {
  background-image: url('../../../img/icon/robot_active@2x.png');
}
.team-icon.active:before {
  background-image: url('../../../img/icon/team_active@2x.png');
}
.marketing-icon.active:before {
  background-image: url('../../../img/icon/marketing_active@2x.png');
}
.finances-icon.active:before {
  background-image: url('../../../img/icon/finances_active@2x.png');
}
.instructions-icon.active:before {
  background-image: url('../../../img/icon/instructions_active@2x.png');
}
.blog-icon.active:before {
  background-image: url('../../../img/icon/blog_active@2x.png');
}
.settings-icon.active:before {
  background-image: url('../../../img/icon/settings_active@2x.png');
}
.admin-icon.active:before {
  background-image: url('../../../img/icon/admin_active@2x.png');
}
