.money-form-container__main {
    width: calc(80% - 20px);
    display: inline-block;
}
.money-form-container__info {
  float: right;
  width: 20%;
}
.money-form-container__info > div {
  width: 100%;
  text-align: right;
}
.money-form-container__info > div .label {
  color: var(--color4);
  font-size: 14px;
}
.money-form-container__info > div .value {
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}

.money-form-container__main .form > .form__cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.money-form-container__main .form .form__title {
  text-align: left;
}
.money-form-container__main .form .input,
.money-form-container__main .form .switch,
.money-form-container__main .form .form__button {
  width: 48%;
}
.money-form-container__main .form .form__button {
  margin-top: 24px;
}

@media screen and (max-width: 900px){
  .money-form-container__main,
  .money-form-container__info {
    float: none;
    width: 100%;
  }
  .money-form-container__info {
    display: flex;
    justify-content: space-between;
  }
  .money-form-container__info > div {
    width: calc(50% - 10px);
    display: inline-block;
  }
  .money-form-container__main .form .input,
  .money-form-container__main .form .switch,
  .money-form-container__main .form .form__button {
    width: 100%;
  }
}
