.purchase-robot__robot {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.purchase-robot__robot img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: auto;
}

.purchase-robot__robot__cont {
  display: flex;
  justify-content: center;
}
.purchase-robot__robot__cont > * {
  position: relative;
  left: 10px;
}
.purchase-robot__robot__cont > .button {
  border: none;
  color: #FFF !important;
  height: 25px;
  line-height: 25px;
  width: 120px;
  padding: 0;
  font-family: calibri-bold;
}
.purchase-robot__robot__cont > .hint {
  margin: 1px 0;
}
.button-client {
  background-color: var(--client-color);
}
.button-light {
  background-color: var(--light-color);
}
.button-advanced {
  background-color: var(--advanced-color);
}
.button-master {
  background-color: var(--master-color);
}
.hint-client > .hint__button {
  background-image: url('../../../img/icon/info-client@2x.png');
}
.hint-light > .hint__button {
  background-image: url('../../../img/icon/info-light@2x.png');
}
.hint-advanced > .hint__button {
  background-image: url('../../../img/icon/info-advanced@2x.png');
}
.hint-master > .hint__button {
  background-image: url('../../../img/icon/info-master@2x.png');
}
.purchase-robot__robot__hint > .hint__text {
  width: 280px;
}
.purchase-robot__robot__hint > .hint__text > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.purchase-robot__robot__hint > .hint__text > ul > li:before {
  content: '✅';
  margin-right: 5px;
}
.purchase-robot__popup-confirm .input {
  margin-bottom: 20px;
}
.purchase-robot__popup-confirm,
.purchase-robot__popup-save {
  width: 400px;
  text-align: center;
}
.purchase-robot__popup-confirm__button,
.purchase-robot__popup-confirm .form__button {
  width: 120px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin: 0 0 20px 0 !important;
}
.purchase-robot__popup-confirm__button {
  float: left;
}
.purchase-robot__popup-confirm .form__button {
  float: right;
}

.purchase-robot__popup-save .form__button {
  margin-top: 24px;
}

.purchase-robot__popup__prompt {
  margin: 15px 0;
}

@media screen and (max-width: 900px) {
  .purchase-robot__robot {
    width: 50%;
  }
  .purchase-robot__popup-confirm,
  .purchase-robot__popup-save {
    width: 300px;
  }
}
