.purchase-robot__robot {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.purchase-robot__robot img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: auto;
}

.button-client,
.button-light,
.button-advanced,
.button-master {
  border: none;
  color: #FFF !important;
  height: 25px;
  line-height: 25px;
  font-family: calibri-bold;
}
.button-client {
  background-color: var(--client-color);
}
.button-light {
  background-color: var(--light-color);
}
.button-advanced {
  background-color: var(--advanced-color);
}
.button-master {
  background-color: var(--master-color);
}
.purchase-robot__popup-confirm .input {
  margin-bottom: 20px;
}
.purchase-robot__popup-confirm,
.purchase-robot__popup-save {
  width: 400px;
  text-align: center;
}
.purchase-robot__popup-confirm__button,
.purchase-robot__popup-confirm .form__button {
  width: 120px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin: 0 0 20px 0 !important;
}
.purchase-robot__popup-confirm__button {
  float: left;
}
.purchase-robot__popup-confirm .form__button {
  float: right;
}

.purchase-robot__popup-save .form__button {
  margin-top: 24px;
}

.purchase-robot__popup__prompt {
  margin: 15px 0;
}

@media screen and (max-width: 900px) {
  .purchase-robot__robot {
    width: 50%;
  }
  .purchase-robot__popup-confirm,
  .purchase-robot__popup-save {
    width: 300px;
  }
}
