.user-info {
  height: 100%;
  position: relative;
  min-height: 550px;
}
.user-info__left,
.user-info__right {
  height: 100%;
}
.user-info__left {
  position: absolute;
  left: 0;
  width: 230px;
  text-align: center;
}
.user-info__photo {

}
.user-info__rate {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}
.user-info__right {
  padding-left: 240px;
}
.user-info__name {
  margin: 0 0 5px 0;
}
.user-info__status {
  font-size: 14px;
  margin-bottom: 15px;
}

.user-info__info {
  border-collapse: collapse;
  width: 100%;
}
.user-info__info td {
  border-bottom: solid 1px var(--color5);
  padding: 10px 0;
}
.user-info__info tr:last-child td {
  border: none;
}
.user-info__info td:first-child {
  font-weight: 500;
  padding-right: 10px;
}

@media screen and (max-width: 900px){
  .user-info__status-img {
    display: none;
  }
  .user-info__left {
    position: static;
    width: 100%;
    height: auto;
  }
  .user-info__photo {
    margin: 0 auto 20px auto;
  }
  .user-info__rate {
    margin: auto;
    width: 50%;
  }
  .user-info__right {
    padding: 0;
    width: 100%;
    height: auto;
  }
}
