.user-card {
  overflow: visible;
  padding: 0;
  width: 700px;
  height: 550px;
  max-width: calc(100% - 50px);
}
.user-card__cont {
  overflow-y: auto;
  padding: 10px;
  height: 100%;
}
.user-card__status-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -35px;
  left: -35px;
  z-index: 1;
}
@media screen and (max-width: 900px){
  .user-card {
    margin: 50px auto !important;
  }
}
