.status-1:before,
.status-2:before,
.status-3:before,
.status-4:before,
.status-5:before,
.status-6:before,
.status-7:before,
.status-8:before,
.status-9:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 5px;
  z-index: -1;
}
.status-1:before,
.status-2:before,
.status-3:before {
  background-image: linear-gradient(to bottom, #1A9122, #0E4911);
}
.status-4:before,
.status-5:before {
  background-image: linear-gradient(to bottom, #EECA1B, #D86806);
}
.status-6:before,
.status-7:before {
  background-image: linear-gradient(to bottom, #BE0000, #600000);
}
.status-8:before,
.status-9:before {
  background-image: linear-gradient(to bottom, #7984C5, #222743);
}

.status-1-avatar,
.status-2-avatar,
.status-3-avatar,
.status-4-avatar,
.status-5-avatar,
.status-6-avatar,
.status-7-avatar,
.status-8-avatar,
.status-9-avatar {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
.status-1-avatar {
  background-image: url('../../../img/icons_status/investor.png');
}
.status-2-avatar {
  background-image: url('../../../img/icons_status/bronze.png')
}
.status-3-avatar {
  background-image: url('../../../img/icons_status/silver.png')
}
.status-4-avatar {
  background-image: url('../../../img/icons_status/gold.png')
}
.status-5-avatar {
  background-image: url('../../../img/icons_status/platinum.png')
}
.status-6-avatar {
  background-image: url('../../../img/icons_status/sapphire.png')
}
.status-7-avatar {
  background-image: url('../../../img/icons_status/emerald.png')
}
.status-8-avatar {
  background-image: url('../../../img/icons_status/diamond.png')
}
.status-9-avatar {
  background-image: url('../../../img/icons_status/diamond2.png')
}
