.data-form {
  max-width: 900px;
}

.data-form__photo {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.data-form__photo input {
  display: none;
}


@media screen and ( min-width: 901px ) {
  .data-form > .form__title {
    text-align: left;
    padding-left: 20px;
  }
  .data-form__flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .data-form a.button {
    width: 250px;
  }
  .data-form__fields {
    width: calc(100% - 280px);
  }

  .data-form__cont {
    display: flex;
    justify-content: space-between;
  }
  .data-form__cont > .input {
    width: calc(50% - 15px);
  }
}

@media screen and ( max-width: 900px ) {
  .data-form__photo img {
    max-height: 200px;
  }
  .data-form__photo,
  .data-form__fields,
  .data-form a.button,
  .data-form__cont {
    width: 100%;
  }
}
