.popup__cover {
  display: flex;
  z-index: 1000;
}
.popup {
  margin: auto;
  position: relative;
}
.popup__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.popup__close:before,
.popup__close:after {
  display: block;
  content: '';
  width: 14px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--color4);
  position: relative;
  left: 3px;
}
.popup__close:before {
  top: 9px;
  transform: rotate(-45deg);
}
.popup__close:after {
  top: 7px;
  transform: rotate(45deg);
}
