.select-input {
  position: relative;
}
.select-input .input {
  margin-bottom: 3px;
}
.select-input .input input {
  cursor: pointer;
  user-select: none;
}
.select-input__options {
  display: none;
  position: absolute;
  width: 100%;
  color: var(--color4);
  padding: 0;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
}
.select-input__options__item {
  cursor: pointer;
  user-select: none;
  padding: 10px;
  height: 40px;
  line-height: 20px;
}
.select-input__options__item:hover {
  background-color: var(--color6);
}
.select-input.opened .select-input__options {
  display: block;
}
.select-input__button {
  border-left: solid 1px var(--color3);
}
.select-input__button > div {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  background-image: url('../../img/icon/arrow@2x.png');
  transition: transform 0.1s;
}
.select-input.opened .select-input__button > div {
  transform: rotate(180deg);
}
