* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --color1: #CB0000;
  --color2: #4A538D;
  --color3: #929292;
  --color4: #707070;
  --color5: #C9CACD;
  --color6: #F0F0F0;
  --client-color: #015809;
  --light-color: #0929B2;
  --advanced-color: #0E0E0E;
  --master-color: #960007;
  --link-color: #49518F;
}

@font-face {
  font-family: calibri;
  src: url('./font/calibri.ttf');
}
@font-face {
  font-family: calibri-bold;
  src: url('./font/calibrib.ttf');
}
@font-face {
  font-family: montserrat;
  src: url('./font/montserratlight.ttf');
}

h1, h2, h3, h4 {
  font-family: calibri-bold;
}

html, body, #root  {
  height: 100%;
}
.App{
  min-height: 100%;
  font-family: calibri;
}

a, a:visited {
  text-decoration: none;
  color: var(--color2);
}

.App {
  background: url('./img/background.png') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding-bottom: 80px;
  position: relative;
}
#content {
  width: 100%;
  padding: 0 35px;
}

.message {
  display: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background-color: var(--color2);
  color: #FFF;
  text-align: center;
}
.show-message .message {
  display: block;
}

.button {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 30px;
  border: solid 1px;
  border-color: var(--color1);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: calibri-bold;
}
.button:hover {
  color: #FFF;
  background-color: var(--color1);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}
.button:active {
  box-shadow: none;
}
.button.button_inactive {
  border-color: #000;
}
.button.button_inactive:hover {
  color: #FFF;
  background-color: #000;
}

.info-button {
  width: 16px;
  height: 16px;
  background: url('./img/icon/info@2x.png') no-repeat 50% 50%;
  background-size: 100%;
  cursor: pointer;
}

.interface-block {
  background-color: #FFF;
  border-radius: 5px;
  border: solid 1px var(--color6);
  padding: 10px;
  margin-bottom: 20px;
}
.icon-before-text {
  padding-left: 4px;
}
.icon-before-text:before {
  content: '';
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
}

.cover {
  background-color: rgba(55,55,55,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.items-border > *,
.items-border > thead > *,
.items-border > tbody > * {
  border-bottom: solid 1px var(--color5);
}
.items-border > *:last-child,
.items-border > tbody > *:last-child {
  border: none !important;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.main-avatar {
  width: 230px;
  height: 350px;
  overflow: hidden;
}
.main-avatar img {
  opacity: 0;
  transition: opacity 0.1s;
}
.main-avatar img.aligned {
  opacity: 1;
}

.grecaptcha-badge {
  display: none;
}


.show-more-text {
  position: relative;
}
.show-more-text_opened {
  max-height: max-content;
}
.show-more-text_opened > .show-more {
  display: none;
}
.show-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0));
  cursor: pointer;
}
.show-more:after {
  content: 'Показать полностью';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--color2);
  padding: 3px;
}


@media screen and ( max-width: 900px ) {
  .App {
    background: url('./img/background_mobile.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 130px;
  }
  #content {
    padding: 0 10px;
  }
}
