.admin__block {
  margin-bottom: 15px;
}
.admin__block > h4 {
  color: var(--color4);
}
.admin__button {
  margin-top: 20px;
  width: 200px;
}

@media screen and (max-width: 900px){
  .admin__button {
    width: 100%;
  }
}
