.admin__files-edit__attach {
  width: 180px;
  display: inline-block;
}
.admin__files-edit__attach .button {
  width: 100%;
}
.admin__files-edit__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
